body{
    height:100vh;
    margin:0px;
    display:flex;
    justify-content: center;
    align-items: center;
}


#calc-container{
height: 650px;
width: 400px;
border:solid;
display:grid;
grid-template: repeat(3, 1fr) / repeat(1, 1fr);
background-color: grey;


}

#screen{
    grid-column: 1/7;
    background-color: greenyellow;
    margin: 20px;
}

#numbers-container{
    margin-right: 130px;
    margin-left:35px;
    grid-column: 1/4;
    grid-row: 2/4;
    display:grid;
    grid-template: repeat(6, 1fr) / repeat(4,1fr);
    gap:1px;
}

#screen{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#number{
    margin-right: 25px;
    margin-bottom: 15px;
    font-size: 50px;
}

.num{
    width:90px;
    height:100px;
    font-size: 30px;
}

.operator{
    width:50px;
    font-size:30px;
}

.zero{
 grid-column: 1/3;
 font-size:30px;
}